# Ignore Python cache files and virtual environments
__pycache__/
*.py[cod]
.venv/
*.pyo

# Ignore Node.js and JavaScript-specific files
node_modules/
npm-debug.log

# Ignore IDE/project files
.vscode/
.idea/
*.iml
*.classpath
*.project
.settings/
*.user

# Ignore build and output directories for various languages
bin/
obj/
dist/
build/
*.dbmdl
*.jfm

# Ignore Docker-related files except Dockerfile
charts/
docker-compose*.yaml
!Dockerfile

# Ignore configuration files or secrets
.env
secrets.dev.yaml
values.dev.yaml

# Ignore unnecessary project files
LICENSE
README.md

# Ignore Helm chart artifacts
charts/

# Ignore sensitive or unnecessary temporary files
*.tmp
*.bak
.DS_Store
